In [247]:
import pandas as pd
pd.set_option('max_colwidth',14)

In [248]:
df = pd.read_csv("netflix_titles.csv")

In [249]:
df.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of th...,Richard Fi...,Alan Marri...,United Sta...,September ...,2019,TV-PG,90 min,Children &...,Before pla...
1,80117401,Movie,Jandino: W...,NaN,Jandino As...,United Kin...,September ...,2016,TV-MA,94 min,Stand-Up C...,Jandino As...
2,70234439,TV Show,Transforme...,NaN,Peter Cull...,United States,September ...,2013,TV-Y7-FV,1 Season,Kids' TV,With the h...

In [250]:
df["date_added"] = pd.to_datetime(df["date_added"])

In [251]:
df.sort_values(by = "date_added", inplace = True)

In [252]:
df['diffs'] = df.groupby("director")['date_added'].diff()

In [253]:
df["diffs"] = df["diffs"].dt.days

In [254]:
df["diffs"] = df["diffs"].fillna("-1")

In [258]:
df.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,diffs
3742,70053412,Movie,To and Fro...,Sorin Dan ...,Barbara Ki...,United States,2008-01-01,2006,NR,81 min,"Dramas, In...",While cove...,-1
3790,70157452,TV Show,Dinner for...,NaN,NaN,United States,2008-02-04,2007,TV-MA,1 Season,Stand-Up C...,In each ep...,-1
1590,70084180,Movie,Just Anoth...,Ole Bornedal,Anders W. ...,Denmark,2009-05-05,2007,NR,104 min,"Dramas, In...",When he ca...,-1
1237,70127998,Movie,Splatter,Joe Dante,Corey Feld...,United States,2009-11-18,2009,TV-14,29 min,Horror Movies,After comm...,-1
1543,70141644,Movie,Mad Ron's ...,Jim Monaco,Nick Pawlo...,United States,2010-11-01,1987,NR,84 min,Cult Movie...,This colle...,-1
1725,70154110,Movie,Even the Rain,Icíar Bollaín,Luis Tosar...,"Spain, Mex...",2011-05-17,2010,NR,103 min,"Dramas, In...",While maki...,-1
108,60003155,Movie,Joseph: Ki...,Rob LaDuca...,Ben Afflec...,United States,2011-09-27,2000,TV-PG,75 min,Children &...,With his g...,-1
999,70206826,Movie,Victim of ...,Roger Young,William De...,United States,2011-10-01,1991,NR,93 min,"Dramas, Th...",A beauty p...,-1
998,70206825,Movie,Unspeakabl...,Linda Otto,Jill Clayb...,United States,2011-10-01,1990,NR,95 min,Dramas,Laurie and...,-1
997,70206824,Movie,Triumph of...,Richard Mi...,Mario Van ...,United States,2011-10-01,1991,TV-PG,93 min,"Dramas, Sp...",This drama...,-1

In [256]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,diffs
3742,70053412,Movie,To and Fro...,Sorin Dan ...,Barbara Ki...,United States,2008-01-01,2006,NR,81 min,"Dramas, In...",While cove...,-1
3790,70157452,TV Show,Dinner for...,NaN,NaN,United States,2008-02-04,2007,TV-MA,1 Season,Stand-Up C...,In each ep...,-1
1590,70084180,Movie,Just Anoth...,Ole Bornedal,Anders W. ...,Denmark,2009-05-05,2007,NR,104 min,"Dramas, In...",When he ca...,-1
1237,70127998,Movie,Splatter,Joe Dante,Corey Feld...,United States,2009-11-18,2009,TV-14,29 min,Horror Movies,After comm...,-1
1543,70141644,Movie,Mad Ron's ...,Jim Monaco,Nick Pawlo...,United States,2010-11-01,1987,NR,84 min,Cult Movie...,This colle...,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,Burnie Bur...,United States,NaT,2015,NR,13 Seasons,TV Action ...,This parod...,-1
6230,70286564,TV Show,Maron,NaN,Marc Maron...,United States,NaT,2016,TV-MA,4 Seasons,TV Comedies,Marc Maron...,-1
6231,80116008,Movie,Little Bab...,NaN,NaN,NaN,NaT,2016,NaN,60 min,Movies,Nursery rh...,-1
6232,70281022,TV Show,A Young Do...,NaN,Daniel Rad...,United Kin...,NaT,2013,TV-MA,2 Seasons,British TV...,Set during...,-1
6233,70153404,TV Show,Friends,NaN,Jennifer A...,United States,NaT,2003,TV-14,10 Seasons,Classic & ...,This hit s...,-1

In [259]:
df["diffs"].value_counts()

-1        5270
0.0        213
7.0         20
92.0        10
14.0        10
          ...
459.0        1
1485.0       1
462.0        1
51.0         1
305.0        1
Name: diffs, Length: 404, dtype: int64