In [3]:
#1 +
import pandas as pd
pd.set_option('max_colwidth',19)

In [4]:
data = {
    "name": ["Nairi", "Vladimir", "Liana", "Hayk", "Jora", "Anahit", "Salbina", "Tatev", "Vlad","Sona", "Artur"],
    "surname": ["Hakobyan", "Poghosyan", "Varosyan", "Sahakyan", "Karyan", "Ordyan", "Alaverdyan", "Harutyunyan","Alaverdyan","Kirakosyan", "Mkrtchyan"],
    "sex": ["m", "m", "f", "m", "m", "f", "f", "f", "m", "f", "m"],
    "age": ["20-30", "30-40", "20-30","20-30","20-30", "30-40", "20-30", "20-30", "20-30", "20-30","20-30"],
    "status": ["tutor", "tutor", "student", "student","student","student","student","student","student","student","student"]
}

df = pd.DataFrame(data)
df["index_df"] = df["name"] + "-" +df["status"]
df.set_index("index_df")

                     name      surname sex    age   status
index_df
Nairi-tutor         Nairi     Hakobyan   m  20-30    tutor
Vladimir-tutor   Vladimir    Poghosyan   m  30-40    tutor
Liana-student       Liana     Varosyan   f  20-30  student
Hayk-student         Hayk     Sahakyan   m  20-30  student
Jora-student         Jora       Karyan   m  20-30  student
Anahit-student     Anahit       Ordyan   f  30-40  student
Salbina-student   Salbina   Alaverdyan   f  20-30  student
Tatev-student       Tatev  Harutyunyan   f  20-30  student
Vlad-student         Vlad   Alaverdyan   m  20-30  student
Sona-student         Sona   Kirakosyan   f  20-30  student
Artur-student       Artur    Mkrtchyan   m  20-30  student

In [6]:
#2 +
df_1 = pd.read_csv("netflix_titles.csv") 
len(df_1[(df_1["release_year"] > 2015) & ((df_1["cast"].str.contains("Kevin Spacey"))
                                      | (df_1["cast"].str.contains("Leonardo DiCaprio")))].index)

2

In [8]:
#3 +
                                                             
df_3 = pd.DataFrame(df_1["director"].value_counts())     #count for unical values
df_3 = df_3.rename(columns = {"director":"count"})       #change column name for being unique
df_3["director"] = df_3.index                            #add director column for merging


df_1.merge(df_3, on = "director").head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,count
0,81145628,Movie,Norm of the Nor...,"Richard Finn, T...","Alan Marriott, ...","United States, ...","September 9, 2019",2019,TV-PG,90 min,Children & Fami...,Before planning...,1
1,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, K...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high...,1
2,70304989,Movie,Automata,Gabe Ibáñez,Antonio Bandera...,"Bulgaria, Unite...","September 8, 2017",2014,R,110 min,International M...,In a dystopian ...,1
3,80164077,Movie,Fabrizio Copano...,"Rodrigo Toro, F...",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,Fabrizio Copano...,1
4,70304990,Movie,Good People,Henrik Ruben Genz,"James Franco, K...","United States, ...","September 8, 2017",2014,R,90 min,Action & Advent...,A struggling co...,1